/* DOCUMENT INFORMATION 
    - Document vitrail thème
    - version : 1.0.0
    - author : cecile
*/

/* COLORS
    - DEFAULT BODY TEXT #000
    - h1
    - h2
    - h3

    - buttons
    - buttons:hover

    - icon                  #055705

    - border

*/

/* FONTS
    - default FaunaOne
    - title PlayFairDisplay

*/

/* CSS DIRECTORY
    1. =GLOBAL
    2. =HEADER
    3. =PRODUITS

*/

/* GLOBAL
=================================== */

@font-face{
    font-family: "playfairdisplay";
    src: url(../Fonts/playfairdisplay/PlayfairDisplay-Regular.ttf) format("truetype");
}

@font-face{
    font-family: "faunaone";
    src: url(../Fonts/faunaone/FaunaOne-Regular.ttf) format("truetype");
}

body{
    overflow-x: hidden;
}

div, p {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: "playfairdisplay", serif;
}

h1{
    font-size: 4em;
    text-shadow: #000 5px 5px 5px;
}

p {
    font-family: "faunaone", serif;
    margin: 5px 0;
}

img{
    margin: 5px 0;
}

/* HEADER
=================================== */

.presentationTxt{
    color: aliceblue;
    position: absolute;
    top: 350px;
    width: 100%;
    padding-top:50px;
    padding-bottom: 100px;
    overflow: hidden;
    background-color: rgba(0,0,0,0.3);
}

.header-unit{
    
    top:0%;
    left:0%;
    height:100vh;
    width:100%;
    overflow: hidden;
    position:fixed;
    text-align: center;
    background-size: cover;

}
video {
    position: absolute;
    z-index: -1;
}
video.fillWidth {
    
    min-width: 100vw;
    min-height: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#video-container {
    top:0%;
    left:0%;
    height:100vh;
    width:100%;
    background-size:cover;
    overflow: hidden;
}
.scrollClk{
    position: relative;
    top: -84px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
}
.scrollClk a{
    text-decoration: none;
    color: #fff;
}

/* SECTION MENU PANEL
====================================== */
.cont{
    background-color: rgb(233, 200, 162);
    position: absolute;
    top: 108vh;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#sec{
    
    background-color: rgba(0, 0, 0, 0.8);
    color: aliceblue;
    height: 100vh;
    padding: 30px;
    margin-left: 0px;
    overflow: hidden;
}

.secIntro{
    margin: 30px 0;
}

.containerGal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 80%;
    align-items: center;
}

.imgGal{
    width: 27%;
    text-align: center;
}

.imgGal1{
    align-self: flex-start;
}

.imgGal3{
    align-self: flex-end;
}

.imgGal img{
    max-width: 100%;
    padding-bottom: 10px;
}
.imgGal img:hover{
    filter: brightness(1.5);
    transition-duration: 3s;
    border-bottom:  1px solid #fff;
    transition-duration: 3s;
}
.scrollClk2{
    position: relative;
    top: 35px;
    left: -30px;
    background-color: rgb(53, 53, 53);
    color: #fff;
    text-align: center;
    width: 100vw;
}
.scrollClk2 a{
    text-decoration: none;
    color: #fff;
}

/* SECTION VERRE
=================================== */

#sec2, #sec3, #sec4{
    padding: 30px;
    margin-left: 0px;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 2.5em;
}
#sec2 h2, #sec3 h2, #sec4 h2{
    padding: 1.5em 0;
    text-align: center;
    font-size: 3em;
}
#sec2 h2{
    text-shadow: #fff 5px 5px 5px;
}
#sec2 img, #sec3 img{
    max-height: 500px;
    max-width: 27%;
}
.contSec{
    position: relative;
    top: -30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    padding-bottom: 0;
}
.titleFab{
    background: url("../images/6-1200-1070x450_c.jpg") no-repeat;
    background-size: cover;
    background-position: center -220px;
}
.introFab{
    margin: auto;
    font-size: 1.2em;
}
.contShow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contShow .show .comShow{
    margin: auto;
}
.show{
    max-width: 600px;
    height: 400px;
    overflow: hidden;
}
.comShow{
    padding: 15px;
    margin: 3em 2em;
    background-color: rgba(0, 0, 0, 0.3);
}
.comShow h3, p{
    text-align: center;
}
.show img{
    min-height: 400 px;
}
.scrollClk3{
    /*position: relative;
    bottom: -12vh;
    left: -31px;*/
    align-self: flex-start;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    width: 105%;
    margin-left: -31px;
    margin-bottom: 0;
}
.scrollClk3 a{
    text-decoration: none;
    color: #fff;
}

/* SECTION ASSEMBLAGE
=================================== */

#sec3 h2{
    color: #fff;
    text-shadow: 5px 5px 5px black;
}
.titleFab2{
    background: url("../images/montage.jpg") no-repeat;
    background-size: cover;
    background-position: center -150px;
}

/* SECTION CHANTIER
=================================== */

#sec4 {
    padding-bottom: 0;
    max-height: 3200px;
}
#sec4 h2{
    color: #fff;
    text-shadow: 5px 5px 5px black;
}
.titleFab3{
    background: url("../images/Pose-cerbère7.jpg") no-repeat;
    background-size: cover;
    background-position: center -130px;
}

/* FOOTER
=================================== */

footer{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    padding: 1.65em 3em;
    width: 96%;
    max-height: 60px;
    /*position: absolute;
    left: 0px;*/
    /*perspective: 800px;*/
    margin-top: 1px;
}
footer a{
    color: #000;
}
footer .logo{
    opacity: 0.5;
    position: relative;
    bottom: 10px;
    transition: 1s;
}
footer .logo:hover{
    transform: rotateY(360deg);
    transition: 1s;
}

/* RESPONSIVE
=================================== */

@media all and (max-width: 1024px)
{
    
    .header-unit{
        overflow: hidden;
    }
    #video-container{
        max-width: 100%;
        overflow: hidden;
        margin: auto;
    }
    .contShow{
        display: flex;
        flex-direction: column;
    }
    #sec2 h2, #sec3 h2, #sec4 h2{
        font-size: 30px;
        background: url("../images/6-1200-1070x450_c.jpg") no-repeat;
        background-size: cover;
        padding: 1em 0;
    }
    #sec, #sec2, #sec3, #sec4{
        height: 100%;
        overflow: hidden;
    }
    .show{
        margin: auto;
        max-width: 90%;
        height: 100%;    
    }
    .comShow{
        margin: auto;
    }
    .scrollClk, .scrollClk2, .scrollClk3{
        display: none;
    }
    footer{
        width: 100%;
    }
    .logo{
        display: none;
    }
    footer p{
        margin: auto;
    }
    footer a{
        margin: auto;
    }
    
}