/* DOCUMENT INFORMATION 
    - Document vitrail thème
    - version : 1.0.0
    - author : cecile
*/

/* COLORS
    - DEFAULT BODY TEXT #000
    - h1
    - h2
    - h3

    - buttons
    - buttons:hover

    - icon                  #055705

    - border

*/

/* FONTS
    - default FaunaOne
    - title PlayFairDisplay

*/

/* CSS DIRECTORY
    1. =GLOBAL
    2. =HEADER
    3. =PRODUITS

*/

/* GLOBAL
=================================== */

@font-face{
    font-family: "playfairdisplay";
    src: url(../Fonts/playfairdisplay/PlayfairDisplay-Regular.ttf) format("truetype");
}

@font-face{
    font-family: "faunaone";
    src: url(../Fonts/faunaone/FaunaOne-Regular.ttf) format("truetype");
}



div, p {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: "playfairdisplay", serif;
}

h1{
    font-size: 4em;
}

p {
    font-family: "faunaone", serif;
    margin: 5px 0;
}

img{
    margin: 5px 0;
}

/* HEADER
=================================== */

.presentationTxt{
    color: aliceblue;
    position: absolute;
    top: 300px;
    width: 100%;
    padding-top:50px;
    padding-bottom: 100px;
    overflow: hidden;
    background-color: rgba(0,0,0,0.3);
}

.header-unit{
    
    top:0%;
    left:0%;
    height:100vh;
    width:100%;
    overflow: hidden;
    position:fixed;
    text-align: center;
    background-size: cover;

}
video {
    position: absolute;
    z-index: -1;
}
video.fillWidth {
    
    min-width: 100vw;
    min-height: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#video-container {
    top:0%;
    left:0%;
    height:100vh;
    width:100%;
    background-size:cover;
    overflow: hidden;
}
.scrollClk{
    position: relative;
    top: -25px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
}
.scrollClk a{
    text-decoration: none;
    color: #fff;
}

/* SECTION MENU PANEL
====================================== */

#sec{
    position: absolute;
    top: 109vh;
    left: 0px;
    background-color: black;
    color: aliceblue;
    height: 100vh;
    width: 96.9%;
    padding: 30px;
    margin-left: 0px;
    overflow: hidden;
}

.secIntro{
    margin: 30px 0;
}

.containerGal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 80%;
    align-items: center;
    
}

.imgGal{
    width: 27%;
}

.imgGal1{
    align-self: flex-start;
}

.imgGal3{
    align-self: flex-end;
}

.imgGal img{
    max-width: 100%;
}
.scrollClk2{
    position: relative;
    top: 35px;
    left: -30px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    text-align: center;
    width: 100vw;
}
.scrollClk2 a{
    text-decoration: none;
    color: #fff;
}

/* SECTION FABRICATION
=================================== */

#sec2{
    position: absolute;
    top: 220vh;
    left: 0px;
    width: 96.9%;
    padding: 30px;
    margin-left: 0px;
    background-color: rgb(233, 200, 162);
    height: 500em;
}
#sec2 h2{
    padding: 1.5em 0;
    text-align: center;
    font-size: 3em;
}
.titleFab1{
    background: url("../images/6-1200-1070x450_c.jpg") no-repeat;
    background-size: cover;
    background-position: center -220px;
}
.show{
    max-width: 600px;
    min-height: 400px;
}
.show img{
    min-height: 400 px;
}

#sec2 img{
    max-height: 500px;
    max-width: 27%;
}


